* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
  
}
 
:root {
  --header-footer-background-color: #404040;
  --lightskyblue: lightskyblue;
  --lightgray: lightgray;
  --about-me-work-border: #131318;
  --rgba-border-color-opacity: rgba(135, 206, 250, 0.8);
}

  
header h1 {
  /* At bigger screens create space at left of h1 on header */
  /* text-align: left; */
  margin: 25px;
  padding-left: 50px;
  color: rgba(135, 206, 250, 0.8);
  
}
  
  header {
  display: flex; /* Flex container to display the child elements as flex with space between and wrap */
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  background-color: var(--header-footer-background-color); 
}
  

html {
  scroll-behavior: smooth;
}

header a {
  /* Longer bootom border under the element as mockup */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 2px solid var(--lightskyblue);
  color: var(--lightskyblue);
}

body {
  background-color: grey;
  font-family: serif;
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  
}

footer {
  /* Apply background to all of the body of the page */
  background-color: var(--header-footer-background-color); 
  color: var(--lightskyblue); /* Title color */
}

footer a {
  text-decoration: none;
  border-bottom: 2px solid var(--lightskyblue); /* Border bottom */
  color: var(--lightskyblue); /* anchor text color */
  font-size: 1.8vw; /* View port font-size to help with responsiveness */
  font-weight: bold;
}


header nav ul {
  display: flex; /* Flex container to display the child elements as flex with flex-end, wrap, and align the items in center */
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding-right: 0px;
}

header nav ul li {
  /*Viewport font-size to help with the responsiveness of the web page */
  font-size: 1.8vw;
  /* Align nave element to closely match the header h1 element*/
  padding: 10px 15px;
  margin-top: 5px;
  margin-bottom: 10px;
    
}

.hero { 
  height: 300px;
  background-image: url("https://thumbs.dreamstime.com/b/chicago-city-smoke-flag-illinois-state-united-states-america-chicago-city-smoke-flag-illinois-state-united-states-americ-129731110.jpg");
  border-bottom-left-radius: 30px 30px; 
  border-bottom-right-radius: 30px 30px;
  background-size: cover; 
  background-position:  100% 13%; 
  background-attachment: fixed; 
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row; 
  align-items: flex-end;
}


.about-me-flex { /* Flex wrapper */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  margin-top: 50px;
}

.font {
  font-size: 25px;
}
.about-me-grid-container {/* CSS Grid */
  width: 80%; /* Contain the grid to a maximum of 80% of the flex wrapper */
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr);  /* Create a 4X4 grid with the first column smaller than the others 3 */
  grid-template-rows: repeat(4, 1fr); /* 4 rows of equal size */
  gap: 10px 10px; /* Gap on x and y grid */
}
  
.about-me-title { /* Cell declarations for the title of the container */
  padding-top: 0px;
  font-size: 35px;
  grid-row: 1 / span 4;
  padding-right: 10px;
 text-align: right;
  border-right: 2px solid var(--about-me-work-border);
}
  
.about-me-title-1 {
  padding-left: 10px;
  grid-column: 2 / span 3;
  grid-row: 1 / span 2;
}
  
.about-me-title-2 {
  padding-left: 10px;
  grid-column: 2 / span 3;
  grid-row: 3 / span 2;

}


.work-grid-container {/* CSS Grid */
  width: 65%;
  display: grid;
  /* Create a 4X8 grid. */
  grid-template-columns: 3fr repeat(3, 2fr); /* Create a 4X4 grid with the first column smaller than the others 3 */
  grid-template-rows: repeat(10, 1fr);
  gap: 10px 10px; /* Gap on x and y grid */
}
  
.work-title {
  padding-top: 10px;
  font-size: 35px;
  grid-row: 2 / span 9;
  text-align: right;
  padding-right: 10px;
  border-right: 2px solid var(--about-me-work-border);
}
  
.work-item-project.digital-marketing-meeting { /* Grid cells with embedded images */
  grid-column: 2 / span 2;
  grid-row: 2 / span 6;
  background-image: url("../Assets/img/digital-marketing-meeting.jpg");
  background-size: cover; /* Allows the image to autosie to cover the container */
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: center;
  border: .25vw solid var(--rgba-border-color-opacity);
}
  
.work-item-project.my_password_generator {
  grid-column: 3 /span 1;
  grid-row: 8 / span 3;
  background-image: url("/Assets/img/03-javascript-homework-demo.png");
  background-size: cover;
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: center;
  border: .25vw solid var(--rgba-border-color-opacity);
}
  
.work-item-project.fiveday-forcast {
  grid-column: 2 / span 1;
  grid-row: 8 / span 3; 
  /* Royalty free image */
  background-image: url("/Assets/img/06-server-side-apis-homework-demo.png");
  background-size: cover;
  /* Allow the background image to align */
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--rgba-border-color-opacity);
}
  
.work-item-project.web-api-code-quiz {
 grid-column: 4 / span 1;
 grid-row: 2 / span 3;
  /* Royalty free image */
  background-image: url("/Assets/img/04-web-apis-homework-demo.gif");
  background-size: 300px 200px, cover;
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 100px;
  text-align: center;
  border: .25vw solid var(--rgba-border-color-opacity);
}
  
.work-item-project.work-day-scheduler {
  grid-column: 4 / span 1;
  grid-row: 5 / span 3;
  /* Royalty free image */
  background-image: url("/Assets/img/05-third-party-apis-homework-demo.gif");
  background-size: cover;
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 100px;
  text-align: left;
  border: .25vw solid var(--rgba-border-color-opacity);
}
  
.work-item-project.project01-group07 {
  grid-column: 4 /span 1;
  grid-row: 8 / span 3;
  background-image: url("/Assets/img/My_Mental.png");
  background-size: cover;
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--rgba-border-color-opacity);
}
  
.work-item-project.ghost-item {
  grid-column: 4 / span 1;
  /* Hide Text */
  opacity: 0;
    
}

.span-background { /* Apply background to any span with this class name */
  background-color: var(--lightskyblue);
  position: relative;
  line-height: 1.5;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5%;
  opacity: .8;
}

.span-background.title { /* Move away from the top/bottom container*/
  /* Match the header Nav element on the flex container elements*/
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Hero section cool subtitle with opacity of .95 */
/* It needs to be adjusted to blend slighty with image selected with image selected */
.span-background.opacity{
  opacity: .95; /* Note: 1 is 0 opacity and 0 is fully transparent */
  font-size: 30px;
}

.span-background.lower-text {
  font-size: x-small;
}

.footer-flex { /* Flex container */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.footer-container { /* CSS Grid */
  width: 80%;
  display: grid;
  /*create a 4X3 grid. */
  grid-template-columns: 1fr repeat(3, 2fr); /* Create a 4X4 grid with the first column smaller than the others 3 */
  grid-template-rows: repeat(3,2fr); /* 3 rows of slighty biger size as a test */
  gap: 20px 20px; 
}

.footer-grid-item {
  text-align: center;
}

.footer-grid-item-contact-me {
  padding-top: 10px;
  font-size: 35px;
  grid-row: 1 / span 3;
  text-align: right;
  padding-right: 10px;
  border-right: 2px solid var(--lightskyblue);
}

.footer-grid-item-phone{
  /* Notice how all below are grid-row 2? CSS grid uses avaialble cells to allocate the element*/
  grid-row: 1;
}

.footer-grid-item-email{
  grid-row: 2;
}

.footer-grid-item-git-hub{
  grid-row: 3;
}

  